{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'autenticacao/css/estilo.css' %}">
    <title>Amjocabe - Login</title>
</head>
<body>
    <main>

       

        <div class="menulateral">
            <div class="textomenu">
                <h4>AMJOCABE Ordem de Serviços</h4>
            </div>

            <div class="imagem_logo">
                <img src="{% static 'autenticacao/img/amjocabe.png' %}" alt="Logo_menu_login">
            </div>

            <div class="rodape">
                <p> AMJOCABE - &copy; 2024 - ✟ Todos os Direitos Reservados. - AMJOCABE WEB</p>
            </div>
        </div>

        {% if messages %}
            <br>
            {% for message in messages %}
                <div class="alert {{message.tags}}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}   

        <!-- Lado direito login -->
        <div class="centro">

            <div class="logoempresa">
                <img class="img2" src="{% static 'autenticacao/img/amjocabe.png' %}" alt="Logo empresa desenvolvedora">
            </div>

            <p class="texto_ordemservico">
                ORDERM SERVIÇO <span>AQUI</span>
                {{ nsemana }}
            </p>

            <div class="titulologin">
                <h3>LOGIN</h3>
            </div>

            <div class="area_cadastrar">
                <p class="saudacao">{{ msg }}</p>
                <h2 class="titulo_sejabemvindo">Seja bem vindo</h2>

                <h4 class="hoje_e">Hoje é.: {{ nome_semana }}</h4>

                <p class="sub_titulo_entreconta">Entre com sua conta</p>
                <hr>
            </div>
            

            <form class="cadusuarios" action="{% url 'login' %}" method="POST">{% csrf_token %}
                <div class="inputs">    
                    <label for="usuario">Usuário</label>
                    <input type="text" max-width="200px" name="usuario"  placeholder="Usuário" autofocus="" required="" maxlength="15">
                    <br>
                    <br>
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" placeholder="Senha" autofocus="" required="">
                    <br>
                    <br>
                    <button>« ENTRAR »</button>

                    <div class="recsenha">
                        <a href="#">Esqueci minha Senha</a>
                    </div>
                </div>
            </form>

                <div class="textoredesocial">
                    <p>Siga nas redes sociais</p>
                </div>

                <div class="imgzap">
                    <a href="https://api.whatsapp.com/send?phone=5531999819003&text=O%20Senhor%20%C3%A9%20o%20meu%20pastor%20e%20nada%20me%20faltar%C3%A1.%20Salmo:%2023.1" target="_blank">
                         <img src="{% static 'autenticacao/img/whatsapp3.png' %}" alt="Logo whatsapp"></a>
                </div>

                <div class="imgyoutube">
                    <a href="#"> <img src="{% static 'autenticacao/img/youtube.png' %}" alt="Logo whatsapp"></a>
                </div>   
        </div>
    </main>
</body>
</html>