{% extends 'base.html' %}
{% load static %}

{% block title %}Categorias{% endblock %}

{% block 'body' %}

        
        <section id="exclui-categorias">
            
            {% if messages %}
                <br>
                {% for message in messages %}
                    <div class="alert {{message.tags}}">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}

            <form action="" method="POST">{% csrf_token %}
                <h2 class="texto-exclui">Exclusão de categorias</h2>
                <p class="confirma_exclusao">Confirma exclusão desta categoria ?</p>
                <br>
                <ul>
                    <li class="nome-categoria-excluir">{{ categoria.id }} - {{ categoria }}</li>
                </ul>
                <br>
             
                <input type="submit" value="Excluir" class="btn-excluir">
                <button class="btn-voltar"><a href="{% url 'categoria' %}">Cancelar</a></button>
            </form>
        </section>
    {% endblock %}

